.App {
  text-align: center;
  width: 100%;
  overflow-wrap: break-word;
  /*margin: 2em;*/
}

.poulpe {
	font-size: 120px;
}

.displayWord, .letters {
  letter-spacing: 12px;
  font-size: 30px;
  text-transform: uppercase;
}

.letters {
	cursor: default;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

button {
	/*white-space: normal;*/
	-webkit-appearance: none;
	border-radius: 10px;
	/*background-color: lightgrey;*/
	padding: 5%;
	background-image: linear-gradient(#e8e8e8 90%, #989898)
}

.alphabet {
	width: 80%;
	margin: 0 auto;
}